<nav class="navbar navbar-expand-lg navbar-dark bg-pastel-blue">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="assets/labiofam.png"
        alt="Logo de labiofam"
        style="height: 2rem"
      />
    </a>
    <!--Menu de hamburguesa-->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Inicio</a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/point-of-sales']">Establecimientos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/Bioproducts']">Bioproductos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/Services']"> Servicios </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/Contact']">Contactos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/Testimonios']">Testimonios</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a
            ><button
              type="button"
              class="btn btn-outline-warning"
              [routerLink]="['/login']"
            >
              Iniciar
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- btn-sm-->
