<nav
  class="navbar navbar-expand-lg navbar-dark bg-pastel-blue"
  style="z-index: 4"
>
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="../../../assets/labiofam.png"
        alt="Descripción de la imagen"
        style="height: 20px"
      />
      <strong><span class="text-warning"> Labio</span>Fam</strong></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link active" aria-current="page"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/']"
            >
              Inicio
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/map']"
            >
              Establecimientos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/bioproduct']"
            >
              Bioproductos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link">
            <button
              class="btn btn-outline-secondary no-border btn-nav"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              [routerLink]="['/login']"
            >
              Servicios
            </button>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/contact']"
            >
              Contactos
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
