<main>
  <section class="container">
    <div
      data-aos="zoom-out-up"
      data-aos-duration="1000"
      class="px-4 pt-5 my-5 text-center"
      style="background-color: var(--color-blue-white); width: 100%"
    >
      <h1 class="display-4 fw-bold text-body-emphasis titulo">
        Nuestros resultados
      </h1>
      <div
        data-aos="zoom-out-up"
        data-aos-duration="1000"
        class="col-lg-9 mx-auto"
      >
        <p class="lead mb-4">
          Entra a estos enlaces para que te enteres de las aplicaciones de
          nuestros productos y el resultado de los mismos
          <br />
        </p>
      </div>
    </div>
  </section>
  <!--carrucel-->
  <div data-aos="zoom-out-up" data-aos-duration="1000">
    <app-carousel></app-carousel>
    <!--Aqui debe ir el carrusel-->
  </div>
  <section>
    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
        style="justify-content: center"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1
            data-aos="fade-right"
            data-aos-duration="1000"
            class="display-4 fw-bold lh-1 text-body-emphasis text-center"
          >
            Multimedia de nuestros resultados
          </h1>
        </div>
        <div class="col-lg-8 p-0 shadow-lg d-flex justify-content-center">
          <div class="row">
            <div class="col-lg-6 p-2" *ngFor="let testimonio of Testimonios">
              <a
                [href]="testimonio.video_Url"
                target="_blank"
                style="object-fit: cover; width: 100%"
              >
                <img
                  class="rounded-lg-2 mb-6 pointer-event d-block img"
                  [src]="getYoutubeThumbnail(testimonio.video_Url!)"
                  alt="{{ testimonio.name }}"
                  style="object-fit: cover; width: 100%"
                />
              </a>
              <br />
              <h3
                class="video-title lead text-center"
                style="text-align: center"
              >
                {{ testimonio.name }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
