.cont {
  position: relative;
  text-align: center;
  box-shadow: 0 8px 16px #dce1e1;
  overflow: hidden;
  height: 15rem;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}
.cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  transition: 0.7s;
  box-shadow: 0 8px 16px #dce1e1;
  border: none;
  border-radius: 10px;
  margin-bottom: 5%;
}

.card-btn {
  border-radius: 20px;
  width: 100%;
}
.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 100;
}
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
}

/* Estilos para el contenedor principal del carrusel */
.cont {
  position: relative;
  text-align: center;
  box-shadow: 0 8px 16px #dce1e1; /* Sombra alrededor del contenedor */
  overflow: hidden; /*  */
}

.img:hover {
  transform: scale(
    1.1
  ); /* Aumenta el tamaño de la imagen en un 10% cuando el mouse pasa por encima */
}
.espacio {
  margin-bottom: 100px; /* Ajusta este valor a tu necesidad */
}
.img {
  display: flexbox; /* La imagen activa se muestra */
  width: 100%; /* La imagen activa ocupará el ancho completo de su contenedor padre */
  height: auto; /* Altura de la imagen activa como porcentaje de la altura de la ventana del navegador */
  transition: transform 1s; /* Añade una transición suave al efecto de zoom */
  cursor: pointer;
}


.header {
  background: url(../../../../../assets/10.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
.header .navbar {
  background-color: transparent !important;
}

.display-4 {
  font-size: 2.8rem;
}

.titulo {
  text-align: center;
  font-weight: bold;
  color: var(--color-tory-blue) !important;
  font-style: "friz-quadrata-std-bold-587034a220f9f" !important;
}

