.card {
  margin-top: 10px;
}

.container {
  width: 80%;
}
.mat-form-field {
  width: 100%;
  margin: 10px;
}
.btnacept {
  margin-right: 5px;
}

.card {
  max-width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
  justify-content: center;
  overflow: auto; /* Asegura que el contenido pueda desplazarse si excede la altura máxima */
}
