<div data-aos="fade-down">
  <div class="p-md-5 mb-4 text-body-emphasis bg-body-secondary">
    <h1 class="display-4 fst-italic titulo">Nuestros Servicios</h1>
    <p class="lead my-3 container">
      El texto de los servicios (Aqui decimos que somos los mejores y que no hay mas ná)
    </p>
  </div>
</div>
<section class="light">
	<div class="container py-2">
		<article class="postcard light blue" *ngFor="let servicio of servicios">
			<a class="postcard__img_link" >
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue">{{ servicio.name }}</h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{ servicio.info }}</div>
			</div>
		</article>
		</div>
</section>

