<div data-aos="fade-down">
  <div class="p-md-5 mb-4 text-body-emphasis bg-body-secondary">
    <h1 class="display-4 fst-italic titulo">Nuestros Servicios</h1>
    <p class="lead my-3 container">
      Con nuestros servicios llevamos innovación y trasladamos experiencias a cada rincón. Desde tecnología punta hasta consultoría estratégica, estamos aquí
      para hacer realidad sus metas. Únete a nosotros en el viaje hacia el éxito.
    </p>
  </div>
</div>
<section class="light">
  <div class="container py-2">
    <article class="postcard light blue" *ngFor="let servicio of servicios">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="{{ servicio.image }}"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">{{ servicio.name }}</h1>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">{{ servicio.info }}</div>
      </div>
    </article>
  </div>
</section>
