.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Establece un ancho predeterminado */
  height: auto; /* Establece una altura predeterminada */
}
.titulo {
  text-align: center;
  font-weight: bold;
  color: var(--color-tory-blue);
  font-style: italic !important;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}
.display-4 {
  font-size: calc(1rem + 2.7vw);
  font-weight: 500;
}

