<div
  *ngIf="images1 && images1.length > 0"
  id="myCarousel"
  class="carousel slide mb-6 pointer-event"
  data-bs-ride="carousel"
  style="width: 100%; height: 500px"
>
  <div class="carousel-indicators">
    <button
      *ngFor="let image of images1; let i = index"
      type="button"
      data-bs-target="#myCarousel"
      [attr.data-bs-slide-to]="i"
      [attr.aria-label]="'Slide ' + (i + 1)"
      [class.active]="i === 0"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      *ngFor="let image of images1; let isFirst = first"
      class="carousel-item"
      [class.active]="isFirst"
    >
      <div style="width: 100%; height: 500px; overflow: hidden">
        <img
          [src]="image.src"
          class="d-block img"
          style="width: 100%; height: 100%; object-fit: cover"
          [alt]="image.alt"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ image.label }}</h5>
          <p>{{ image.content }}</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#">{{ image.button }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
