/* You can add global styles to this file, and also import other style files */
@import "~maplibre-gl/dist/maplibre-gl.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
:root {
  --color-blue: #203468;
  --color-yellow: #ffdd21;
  --color-tory-blue: #2f4e9b;
  --color-blue-white: #e9ecef;
  --color-white: #ffffff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.public-section {
  margin-top: 3.7rem;
}

button.btn-primary,
a.btn-primary {
  background-color: var(
    --color-tory-blue
  ); /* Este será el color de fondo del botón */
  color: var(--color-white); /* Este será el color del texto del botón */
  transition: background-color 0.4s ease; /* Esto hará que el cambio de color sea gradual */
  border: none;
}
button.btn-primary:hover,
a.btn-primary:hover {
  background-color: var(
    --color-yellow
  ); /* Este será el color de fondo del botón cuando pases el dedo por encima */
  color: var(
    --color-tory-blue
  ); /* Este será el color del texto del botón cuando pases el dedo por encima */
  font-family: "Roboto", Courier, monospace; /* Esta será la fuente del texto del botón cuando pases el dedo por encima */
  font-weight: 600;
}

.titulo {
  text-align: center;
  font-weight: bold;
  color: var(--color-tory-blue) !important;
  font-style: "friz-quadrata-std-bold-587034a220f9f" !important;
}

text,
a.text {
  font-family: "Friz Quadrata Std Italic";
  font-style: normal;
  font-weight: normal;

  src: local("Friz Quadrata Std Italic"),
    url("friz-quadrata-std-italic-587033b2c95df.woff") format("woff");

  font-family: "Friz Quadrata Std Medium";
  font-style: normal;
  font-weight: normal;

  src: local("Friz Quadrata Std Medium"),
    url("friz-quadrata-std-medium-5870338ec7ef8.woff") format("woff");

  font-family: "Friz Quadrata Std Bold";
  font-style: normal;
  font-weight: normal;

  src: local("Friz Quadrata Std Bold"),
    url("friz-quadrata-std-bold-587034a220f9f.woff") format("woff");

  font-family: "Friz Quadrata Std Bold Italic";
  font-style: normal;
  font-weight: normal;

  src: local("Friz Quadrata Std Bold Italic"),
    url("friz-quadrata-std-bold-italic-587033d6d4298.woff") format("woff");
}
.cont {
  position: relative;
  text-align: center;
  box-shadow: 0 8px 16px #dce1e1;
  overflow: hidden;
  height: 15rem;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}
.cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  transition: 0.7s;
  box-shadow: 0 8px 16px #dce1e1;
  border: none;
  border-radius: 10px;
  margin-bottom: 5%;
}

.card-btn {
  border-radius: 20px;
  width: 100%;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 100;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
}

.card.img {
  display: flexbox; /* La imagen activa se muestra */
  width: 100%; /* La imagen activa ocupará el ancho completo de su contenedor padre */
  height: auto; /* Altura de la imagen activa como porcentaje de la altura de la ventana del navegador */
  transition: transform 1s; /* Añade una transición suave al efecto de zoom */
  cursor: pointer;
}
