/* You can add global styles to this file, and also import other style files */
@import "~maplibre-gl/dist/maplibre-gl.css";
:root {
  --color-blue: #203468;
  --color-yellow: #ffdd21;
  --color-tory-blue: #2f4e9b;
  --color-white: #ffffff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.public-section {
  margin-top: 3.7rem;
}
