.App {
  text-align: center;
  margin-left: 20px; /* Añade un margen a la izquierda */
  margin-right: 20px; /* Añade un margen a la derecha */
  width: 100%; /* Establece un ancho predeterminado */
  height: auto; /* Establece una altura predeterminada */
}
