<div class="title">{{ operacion }} Usuario</div>

<div
  class="container"
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="10px"
>
  <mat-card class="card" fxFlex="80%" fxFlex.lt-md="100%">
    <mat-card-subtitle style="text-align: center">
      <h2>Datos del Usuario</h2>
    </mat-card-subtitle>
    <form
      [formGroup]="userForm"
      style="margin-top: 10px"
      (ngSubmit)="operacion === 'Agregar' ? addUser() : editUser()"
    >
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              formControlName="name"
              matInput
              autocomplete="off"
              required
            />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              autocomplete="off"
              required
            />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <form>
            <mat-form-field class="example-chip-list">
              <mat-label>Roles</mat-label>
              <mat-chip-grid #chipGrid aria-label="Fruit selection">
                <mat-chip-row
                  *ngFor="let role of roless"
                  (removed)="remove(role)"
                >
                  {{ role.name }}
                  <button
                    matChipRemove
                    [attr.aria-label]="'remove ' + role.name"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input
                placeholder="New Role..."
                #fruitInput
                [formControl]="roleCtrl"
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="let role of filteredRoles | async"
                  [value]="role"
                >
                  {{ role.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <button
            [disabled]="userForm.invalid"
            type="submit"
            class="btnacept"
            mat-raised-button
            color="primary"
          >
            Aceptar
          </button>
          <button mat-raised-button routerLink="/users">Volver</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
<!---[disabled]="form.invalid || roleControl.invalid"
<pre>
    {{ currentUser | json }}
</pre>-->
