<div class="col">
  <div data-aos="fade-right" data-aos-duration="1500">
    <div class="card" style="height: 25rem">
      <div class="cont">
        <img src="assets/12.jpg" class="card-img-top" alt="..." />
      </div>
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">
          This is a longer card with supporting text below as a
          natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary card-btn">Go somewhere</a>
      </div>
    </div>
  </div>
</div>


