<p>Informacion!</p>
<div *ngIf="persona != null" class="container">
  <div class="card">
    <mat-card>
      <mat-card-title>Simple card</mat-card-title>
      <mat-card-content>
        <p><strong>ID:</strong>{{ persona.user_ID }}</p>
        <p><strong>Nombre:</strong> {{ persona.name }}</p>
        <p><strong>Password:</strong> {{ persona.password }}</p>
        <p></p
      ></mat-card-content>

      <mat-card-actions>
        <button routerLink="/listpersons" mat-raised-button>Volver</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
