.titulo {
  text-align: center;
  font-weight: bold;
  color: var(--color-tory-blue);
  font-style: italic !important;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}
.display-4 {
  font-size: calc(1rem + 2.7vw);
  font-weight: 500;
}

.espacio {
  margin-bottom: 100px;
}
.header {
  background: url(../../../../../assets/10.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
.header .navbar {
  background-color: transparent !important;
}

.display-4 {
  font-size: 2.8rem;
}
.filter {
  margin-left: 0px;
  margin-right: auto;
  width: 30%;
  float: right;
  margin-right: 10px;
}
