<section class="container">
  <nav class="navbar">
    <div class="filter">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Nombre del producto o Enfermedad que controla"
          #input
          autocomplete="off"
        />
      </mat-form-field>
    </div>
  </nav>

  <div class="px-4 pt-5 my-5 text-center">
    <app-bioprduct-cards-placeholder
      *ngIf="loading"
      [cantidad]="3"
    ></app-bioprduct-cards-placeholder>
    <app-bioproduct-list
      [products]="
        filteredProducts
          | paginate : { itemsPerPage: pageSize, currentPage: page }
      "
    ></app-bioproduct-list>
  </div>
  <div *ngIf="!loading" style="margin-bottom: 2cm">
    <div style="display: flex; justify-content: center">
      <pagination-controls
        (pageChange)="handlePageChange($event)"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</section>
