table {
  width: 100%;
}
.filter {
  margin-left: auto;
  margin-right: 0px;
  width: 30%;
}

td,
th {
  width: 15%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.delete {
  cursor: pointer;
  color: chocolate;
}
.edit {
  cursor: pointer;
  color: cornflowerblue;
}
.search {
  cursor: pointer;
}
