<div data-aos="fade-left">
  <div class="mat-primary titulo">{{ operacion }} punto de venta</div>

  <div
    class="container1"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <mat-card class="card" fxFlex="80%" fxFlex.lt-md="100%">
      <mat-card-subtitle style="text-align: center">
        <h1>Datos</h1>
      </mat-card-subtitle>
      <form
        [formGroup]="form"
        style="margin-top: 10px"
        (ngSubmit)="operacion === 'Agregar' ? addPoint() : editPoint()"
      >
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile colspan="2" rowspan="3">
            <div class="row">
              <div class="card-top">
                <img
                  class="card-img-top"
                  [src]="image ? image : 'assets/no-image.jpg'"
                  alt="Preview"
                />
              </div>
              <div class="button-container">
                <button
                  type="button"
                  color="primary"
                  class="btn btn-primary custom-button"
                >
                  <input
                    (change)="onFileChange($event)"
                    type="file"
                    id="fileInput"
                    class="file-input"
                  />
                  Agregar Foto
                </button>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" matInput autocomplete="off" />
              <mat-error
                *ngIf="form.controls.name.invalid && form.controls.name.touched"
              >
                Nombre inválido
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Provincia</mat-label>
              <mat-select [formControl]="ProvinceControl" required>
                <mat-option>--</mat-option>
                <mat-option
                  *ngFor="let province of getkeys()"
                  [value]="province"
                >
                  {{ province }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ProvinceControl.hasError('required')">
                Seleccione una provincia
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Municipio</mat-label>
              <mat-select [formControl]="MunicipioControl" required>
                <mat-option>--</mat-option>
                <mat-option
                  *ngFor="let muncpio of municipiosDisponibles"
                  [value]="muncpio"
                >
                  {{ muncpio }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ProvinceControl.hasError('required')">
                Seleccione un municipio
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Dirección</mat-label>
              <input formControlName="address" matInput autocomplete="off" />
              <mat-error
                *ngIf="
                  form.controls.address.invalid && form.controls.address.touched
                "
              >
                Introduzca una dirección
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2"
            ><h2>Seleccione una ubicación</h2>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="3" class="my-grid-tile">
            <div class="container">
              <div class="map-wrap">
                <div class="map" #map></div>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="productsRowSpan">
            <div class="row">
              <div
                *ngFor="let product of selectedProducts"
                class="col-sm-6 col-md-4 col-lg-5 mb-4"
              >
                <div class="card selected" style="height: 100%">
                  <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="removeSelectedProduct(product)"
                    >
                      Quitar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <button
              type="button"
              class="btn btn-primary"
              (click)="open(content)"
            >
              Agregar Productos
            </button>
          </mat-grid-tile>

          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Agregar Productos
              </h4>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="d('Cross click')"
              ></button>
            </div>
            <div class="modal-body modal-fullscreen">
              <div class="row">
                <div
                  *ngFor="let product of products"
                  class="col-sm-6 col-md-4 col-lg-5 mb-4"
                >
                  <div
                  style="cursor: pointer;"
                    class="card h-100"
                    (click)="selectProduct(product)"
                    [ngClass]="{ selected: isSelected(product) }"
                  >
                    <div class="card-body">
                      <h3 class="card-title">{{ product.name }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                (click)="saveSelection(c)"
              >
                Guardar
              </button>
            </div>
          </ng-template>

          <mat-grid-tile colspan="2">
            <button
              [disabled]="form.invalid"
              y
              type="submit"
              class="btnacept"
              mat-raised-button
              color="primary"
            >
              Aceptar
            </button>
            <button
              type="button"
              mat-raised-button
              routerLink="/dashboard/points-of-sales-admin"
            >
              Volver
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card>
  </div>
</div>
