

<div data-aos="fade-left">
  <div class="mat-primary titulo">{{ operacion }} Contactos</div>

  <div
    class="container1"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <mat-card class="card" fxFlex="80%" fxFlex.lt-md="100%">
      <mat-card-subtitle style="text-align: center">
        <h2>Datos</h2>
      </mat-card-subtitle>
      <form
        [formGroup]="form"
        style="margin-top: 10px"
        (ngSubmit)="operacion === 'Agregar' ? addContact() : editContact()"
      >
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input
                formControlName="name"
                matInput
                autocomplete="off"
              />
              <mat-error
              *ngIf="form.controls.name.invalid && form.controls.name.touched"
              >
                nombre inválido
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="mat-form-field" appearance="outline">
              <mat-label>Ocupación</mat-label>
              <input
                formControlName="occupation"
                matInput
                autocomplete="off"
              />
              <mat-error

              >
                Por favor introduzca la ocupación del contacto
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="mat-form-field" appearance="outline" >
              <mat-label>Correo</mat-label>
              <input
                formControlName="info"
                matInput
                autocomplete="off"
              />
              <mat-error

              >
                Por favor introduzca información de interes del contacto
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>



          <mat-grid-tile colspan="1">
            <mat-form-field class="mat-form-field" appearance="outline" >
              <mat-label>Teléfono</mat-label>
              <input
                formControlName="teléfono"
                matInput
                autocomplete="off"
              />
              <mat-error

              >
                Por favor introduzca información de interes del contacto
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="3" >
            <div class="row">
              <div class="col" >
              <div class="card" style="height: 35rem">
                <img src="assets/11.jpg" class="card-img-top" />
              </div>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile >

          </mat-grid-tile>

          <mat-grid-tile >

          </mat-grid-tile>

          <mat-grid-tile >

          </mat-grid-tile>

          <mat-grid-tile>
            <button

              mat-raised-button style="margin-bottom: 2cm;" style="margin-left: 4cm;"
              color="primary">
              Agregar Foto
            </button>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <form style="position: absolute; width: 96%">

            </form>

          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <button
              [disabled]="form.invalid"
              y
              type="submit"
              class="btnacept"
              mat-raised-button
              color="primary"
            >
              Aceptar
            </button>
            <button
              type="button"
              mat-raised-button
              routerLink="/dashboard/contacts-admin"
            >
              Volver
            </button>
          </mat-grid-tile>
        </mat-grid-list>

      </form>
    </mat-card>
  </div>
</div>
