<br class="espacio" />
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <h1 class="centrado">Nos importa tu opinión!</h1>
    <hr class="featurette-divider" />
    <div class="row featurette" style="margin-top: 35px">
      <div class="col-md-7">
        <h1 class="featurette-heading fw-normal lh-1">Hazte oír!</h1>
        <p class="lead">
          Nos encantaría conocer su opinión. Su retroalimentación es muy importante para nosotros, ya que nos ayuda a mejorar y a ofrecerle un mejor servicio. Por favor, introduzca los datos pertinentes y comparte sus comentarios, sugerencias o cualquier otro aspecto que considera que podríamos mejorar. Agradecemos su tiempo y contribución.
        </p>
        <br />
        <div class="container">
          <form class="form" [formGroup]="formfedback" (ngSubmit)="onSubmit()">
            <mat-form-field class="email-width">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                placeholder="Ejemplo: Manuel Pérez Córdova"
                formControlName="sendername"
                required
              />
              <mat-error
                *ngIf="
                  formfedback.get('sendername')!.hasError('email') &&
                  !formfedback.get('sendername')!.hasError('required')
                "
              >
                Por favor introduzca un nombre válido
              </mat-error>

              <mat-error *ngIf="formfedback.get('email')!.hasError('required')">
                Nombre <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="email-width">
              <mat-label>Correo electrónico</mat-label>
              <input
                type="email"
                matInput
                placeholder="Ejemplo:  ejemplo@dominio.com"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="
                  formfedback.get('email')!.hasError('email') &&
                  !formfedback.get('email')!.hasError('required')
                "
              >
                Por favor introduzca un correo electrónico válido
              </mat-error>

              <mat-error *ngIf="formfedback.get('email')!.hasError('required')">
                Correo electrónico <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="email-width">
              <mat-label>Asunto</mat-label>
              <input
                matInput
                placeholder="Ejemplo: Información sobre el bioproducto Biorat"
                formControlName="subject"
                required
              />
              <mat-error
                *ngIf="
                  formfedback.get('subject')!.hasError('email') &&
                  !formfedback.get('subject')!.hasError('required')
                "
              >
                Por favor introduzca un asunto válido
              </mat-error>

              <mat-error *ngIf="formfedback.get('email')!.hasError('required')">
                Asunto <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="textarea">
              <mat-label>Comentarios</mat-label>
              <textarea
                matInput
                placeholder="Ejemplo: Me gustaría más información sobre ..."
                formControlName="comments"
                required
              ></textarea>
              <mat-error
                *ngIf="formfedback.get('comments')!.hasError('required')"
              >
                Comentarios <strong>requeridos</strong>
              </mat-error>
            </mat-form-field>
            <div style="display: flex; justify-content: space-between">
              <div class="mb-3">
                <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
              <div class="mb-3">
                <button
                  [routerLink]="['/home']"
                  class="btn btn-light"
                  type="button"
                >
                  Volver
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card" style="height: 90%">
          <img
            src="../../../assets/13.jpg"
            class="card-img-top mi-imagen"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />
  <!-- /.container -->
</div>
