.form {
  min-width: 150px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
}


.full-width {
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.centrado {
  text-align: center;
  color: #1162f7;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 30px;
}
.mi-imagen {
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  height: 100%; /* Ajusta la altura de manera automática para mantener las proporciones de la imagen */
  object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, cortando las partes que no caben si es necesario */
}
