<main>
  <!--carrucel-->
  <section>
    <app-carousel></app-carousel>
  </section>

  <!--Productos-->
  <section>
    <div class="px-4 pt-5 my-5 text-center">
      <h1
        class="display-4 fw-bold text-body-emphasis"
        _msttexthash="644657"
        _msthash="48"
      >
        Descubre Nuestros Productos Exclusivos
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" _msttexthash="52402467" _msthash="49">
          Explora nuestra amplia gama de productos innovadores, diseñados con la
          más alta calidad para satisfacer tus necesidades. Cada artículo es el
          resultado de la aplicación de tecnología avanzada y un diseño
          excepcional, garantizando la mejor experiencia para nuestros clientes.
          ¡Empieza tu viaje de compras con nosotros hoy!
        </p>
      </div>

      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card" style="height: 25rem">
              <div class="cont">
                <img src="assets/10.jpg" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 25rem">
              <div class="cont">
                <img src="assets/11.jpg" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 25rem">
              <div class="cont">
                <img src="assets/12.jpg" class="card-img-top" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="container featurette-divider" />

  <section>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="assets/labiofam.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
            _mstalt="287586"
          />
        </div>
        <div class="col-lg-6">
          <h1
            class="display-5 fw-bold text-body-emphasis lh-1 mb-3"
            _msttexthash="1740570"
            _msthash="52"
          >
            Héroe responsivo alineado a la izquierda con imagen
          </h1>
          <p class="lead" _msttexthash="52402467" _msthash="53">
            Diseñe y personalice rápidamente sitios móviles con capacidad de
            respuesta con Bootstrap, el kit de herramientas de código abierto
            front-end más popular del mundo, que incluye variables y mezclas de
            Sass, sistema de cuadrícula receptivo, amplios componentes
            prediseñados y potentes complementos de JavaScript.
          </p>
        </div>
      </div>
    </div>
  </section>

  <hr class="container featurette-divider" />

  <section>
    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1
            class="display-4 fw-bold lh-1 text-body-emphasis"
            _msttexthash="1353365"
            _msthash="63"
          >
            Héroe de borde con imagen recortada y sombras
          </h1>
          <p class="lead" _msttexthash="52402467" _msthash="64">
            Diseñe y personalice rápidamente sitios móviles con capacidad de
            respuesta con Bootstrap, el kit de herramientas de código abierto
            front-end más popular del mundo, que incluye variables y mezclas de
            Sass, sistema de cuadrícula receptivo, amplios componentes
            prediseñados y potentes complementos de JavaScript.
          </p>
          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          >
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
              _msttexthash="115193"
              _msthash="65"
            >
              Primario
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-lg px-4"
              _msttexthash="257972"
              _msthash="66"
            >
              Predeterminado
            </button>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img
            class="rounded-lg-3"
            src="assets/labiofam.png"
            alt=""
            width="720"
          />
        </div>
      </div>
    </div>
  </section>
</main>
<hr class="featurette-divider" />
