<div class="spinner" *ngIf="!bioproducto">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="bioproducto" class="public-section">
  <div class="container" style="margin-top: 3cm">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="height: 35rem">
          <div class="cont">
            <img
              [src]="imageUrls[bioproducto.id!] || 'assets/no-image.jpg'"
              alt="foto de {{ bioproducto.name }} "
            />
          </div>
        </div>
        <div class="container" *ngIf="types.length > 0">
          <h2 class="text-center mb-4">Diferentes Modalidades</h2>
          <div class="row">
            <div
              *ngFor="let type of types"
              class="col-sm-6 col-md-4 col-lg-5 mb-4"
            >
              <div class="card" style="height: 100%">
                <div class="card-body">
                  <!-- Aquí mostramos las propiedades de TypePrice -->
                  <h5 class="card-title">{{ type.type }}</h5>
                  <p class="card-text">Capacidad: {{ type.capacity }}</p>
                  <p class="card-text">Precio: {{ type.price | currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-dtl">
          <div class="product-info">
            <div class="product-name">
              <h1>{{ bioproducto.name }}</h1>
            </div>
            <div class="product-type" style="margin-top: 1cm">
              <span style="color: #0000008a">Tipo: </span>
              <strong> {{ bioproducto.type_of_Product }}</strong>
            </div>
            <div class="reviews-counter"></div>
            <div
              class="accordion"
              id="accordionPanelsStayOpenExample"
              style="margin-top: 1cm"
            >
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    Descripción
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                >
                  <div class="accordion-body">
                    <p>{{ bioproducto.description }}</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                  >
                    Ventajas
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseThree"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body">
                    <p>{{ bioproducto.advantages }}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="bioproducto.diseases != null" class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                  >
                    Enfermedades que controla
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseThree"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body">
                    <p>{{ bioproducto.diseases }}</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    Otros de interes
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTwo"
                  class="accordion-collapse collapse"
                >
                  <div
                    class="accordion-body"
                    *ngFor="let key of objectKeys(bioproducto!.summary!)"
                  >
                    <p>
                      <strong>{{ key }}</strong
                      >: {{ bioproducto!.summary![key] }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="left: 2cm" style="margin-top: 1cm">
            <button class="btn btn-primary card-btn" (click)="goBack()">
              Regresar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
