<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapsed()">
      <fa-icon [icon]="barra" class="icon yell"></fa-icon>
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed"></div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <div class="user-details">
    <div class="container">
      <img
        class="rounded-circle"
        [ngClass]="collapsed ? 'rounded-circle-collapsed' : ''"
        src="https://picsum.photos/1000/1000"
        width="32"
        height="32"
      />
    </div>
    <!-- Aquí puedes poner los datos del usuario -->
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a
        class="sidenav-nav-link"
        [routerLink]="data.ruta"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{
          data.nombre
        }}</span>
      </a>
    </li>
  </ul>
</div>

<div class="body" [ngClass]="getBodyClass()">
  <router-outlet></router-outlet>
</div>
