.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto; /* Centra el contenedor horizontalmente */
}

.card {
  max-width: 35%; /* Ajusta este valor a lo que necesites */
  max-height: 50%; /* Ajusta este valor a lo que necesites */
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  justify-content: center;
  overflow: auto; /* Asegura que el contenido pueda desplazarse si excede la altura máxima */
  box-shadow: 0 8px 16px 0 rgba(48, 46, 46, 0.5);
  border-radius: 10px;
}

.form-control {
  width: 350px; /* Ajusta este valor a lo que necesites */
}
.account {
  color: #3f3db8;
  margin: 10px; /* Añade un poco de margen alrededor del icono */
}
.containersvg {
  display: flex;
  justify-content: center;
  align-items: center;
}
