<!-- FOOTER -->
<footer class="py-5 footer">
  <div class="row">
    <div class="col-12 col-md-3 first-column">
      <div class="ajust">
        <a href="/home"
          ><img
            src="../../../assets/labiofam.png"
            alt="Logo"
            style="height: 2rem; width: 100%"
          />
        </a>
        <div class="info">
          <p>Dirección: Calle 1, No. 2, La Habana, Cuba</p>
          <p>Teléfono: +53 7 123456</p>
          <p>Correo electrónico: info@labiofam.com</p>
        </div>
      </div>
    </div>
    <div class="col-3 col-md">
      <h2 class="link text-decoration-none">Menú</h2>
      <ul class="list-unstyled text-small">
        <li>
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/Bioproducts']">Bioproductos</a>
        </li>

        <li>
          <a class="nav-link" [routerLink]="['/point-of-sales']"
            >Establecimientos</a
          >
        </li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <h2 class="link text-decoration-none">Atención</h2>
      <ul class="list-unstyled text-small">
        <li>
          <a class="nav-link" [routerLink]="['/Contact']">Contactos</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/feedback']"
            >Quejas y sugerencias</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr
    class="featurette-divider"
    style="color: var(--color-yellow); width: 100%"
  />
  <div class="social">
    <div class="row">
      <div class="col-1">
        <a href="https://www.facebook.com/LABIOFAM">
          <fa-icon [icon]="facebook" class="icon"></fa-icon>
        </a>
      </div>
      <div class="col-1">
        <a href="https://twitter.com/tu_nombre_de_usuario">
          <fa-icon [icon]="twitter" class="icon"></fa-icon
        ></a>
      </div>
    </div>
  </div>
</footer>
