.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: var(--color-tory-blue);
}
.footer .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer .col-md {
  flex: 1 1 200px;
  margin: 1em 0;
  text-align: center;
}
@media (max-width: 600px) {
  .footer .row {
    flex-direction: column;
  }
}

.social {
  display: flex;
  justify-content: center;
}

footer img {
  width: 100px;
}

footer h5 {
  margin-bottom: 20px;
}

footer .fab {
  margin-right: 10px;
}
.icon {
  margin-right: 2px;
  color: var(--color-yellow);
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}
.icon:hover {
  transform: scale(1.2);
}

.first-column {
  margin-left: 20px;
}
.ajust {
  display: flex;
}
/* Primero, define la fuente y el color de tus enlaces */
.nav-link {
  font-family: "Roboto", sans-serif; /* Reemplaza 'Tu Fuente Bonita' con el nombre de la fuente que quieras usar */
  color: var(
    --color-white
  ); /* Este es el color inicial de tus enlaces, puedes cambiarlo por el que prefieras */
  text-decoration: none; /* Esto quita el subrayado inicial de los enlaces */
  position: relative; /* Esto es necesario para posicionar correctamente la línea debajo del enlace */
  display: inline-block;
}

/* Finalmente, define lo que quieres que suceda cuando pases el cursor sobre los enlaces */
.nav-link:hover {
  color: var(
    --color-yellow
  ); /* Este es el color al que cambiarán tus enlaces, puedes cambiarlo por el que prefieras */
}

/* Añade la línea debajo del enlace, pero inicialmente con ancho 0 */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Cambia esto a 0 para que la línea comience desde la izquierda */
  width: 0;
  height: 2px;
  background-color: var(--color-yellow);
  transition: width 0.5s ease; /* Cambia 'all' por 'width' para que solo la anchura tenga una transición */
}

/* Define lo que quieres que suceda cuando pases el cursor sobre los enlaces */
.nav-link:hover::after {
  width: 100%; /* Esto hace que la línea se expanda hasta cubrir todo el ancho del enlace */
}

.link {
  color: var(--color-yellow) !important;
}
