<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <span class="text-primary">Labio</span>Fam</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link active" aria-current="page"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border"
              [routerLink]="['/']"
            >
              Inicio
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border"
              [routerLink]="['/map']"
            >
              Establecimientos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border"
              [routerLink]="['/users-management']"
            >
              Bioproductos
            </button></a
          >
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link">
              <button
                class="btn btn-outline-secondary no-border dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Servicios
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </a>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border"
              [routerLink]="['/listpersons']"
            >
              Contactos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border"
              [routerLink]="['/listpersons']"
            >
              Testimonios
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border"
              [routerLink]="['/listpersons']"
            >
              Quejas y sugerencias
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
