<!--<div class="nav-scroller navbar-expand-lg var">
  <nav
    class="nav d-flex justify-content-between"
    aria-label="Navegación secundaria"
  >
    <a
      class="nav-link active nav-item"
      aria-current="page"
      [routerLink]="['/']"
      style="color: rgb(0, 97, 181); margin-top: 5px"
    >
      <img
        src="../../../assets/labiofam.png"
        alt="Descripción de la imagen"
        style="margin-right: 5px; height: 20px"
      />
      <strong><span class="text-warning">Labio</span>Fam</strong>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link">
            <button
              type="button"
              class="btn btn-outline-primary btn-nav"
              [routerLink]="['/']"
            >
              Inicio
            </button>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-primary btn-nav"
              [routerLink]="['/map']"
            >
              Establecimientos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link">
            <button
              type="button"
              class="btn btn-outline-primary btn-nav"
              [routerLink]="['/users-management']"
            >
              Bioproductos
            </button>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link">
            <button
              type="button"
              class="btn btn-outline-light btn-nav"
              [routerLink]="['feedback']"
            >
              Contactos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link">
            <button
              type="button"
              class="btn btn-outline-dark btn-nav"
              [routerLink]="['/login']"
            >
              Testimonios
            </button></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-pastel-blue">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="../../../assets/labiofam.png"
        alt="Descripción de la imagen"
        style="height: 20px"
      />
      <strong><span class="text-warning"> Labio</span>Fam</strong></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link active" aria-current="page"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/']"
            >
              Inicio
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/map']"
            >
              Establecimientos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/users-management']"
            >
              Bioproductos
            </button></a
          >
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link">
              <button
                class="btn btn-outline-secondary no-border dropdown-toggle btn-nav"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Servicios
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </a>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['feedback']"
            >
              Contactos
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/login']"
            >
              Testimonios
            </button></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link"
            ><button
              type="button"
              class="btn btn-outline-secondary no-border btn-nav"
              [routerLink]="['/users']"
            >
              Quejas y sugerencias
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
