/*.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}


.nav-item {
  margin: auto;
}
.var {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  height: 50px;
}*/
.bg-pastel-blue {
  background-color: #5947fc;
}
.navbar {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 28px #0000001f;
}

.btn-nav {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 11px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.btn-nav:hover {
  background-color: #7584f4;
  color: #ffffff;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
