<div class="title">{{ operacion }} Usuario</div>

<div
  class="container"
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <mat-card class="card" fxFlex="80%" fxFlex.lt-md="100%">
    <mat-card-subtitle style="text-align: center">
      <h2>Datos del Usuario</h2>
    </mat-card-subtitle>
    <form
      [formGroup]="form"
      style="margin-top: 10px"
      (ngSubmit)="operacion === 'Agregar' ? addUser() : editUser()"
    >
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="Username" matInput autocomplete="off" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Rol del usuario</mat-label>
            <mat-select [formControl]="roleControl" required>
              <mat-option *ngFor="let animal of _roles" [value]="animal">
                {{ animal.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="roleControl.hasError('required')"
              >Por favor introduzca un rol</mat-error
            >
            <mat-hint>{{ roleControl.value }}</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <button
            [disabled]="form.invalid || roleControl.invalid"
            y
            type="submit"
            class="btnacept"
            mat-raised-button
            color="primary"
          >
            Aceptar
          </button>
          <button mat-raised-button routerLink="/users-management">
            Volver
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
