<div class="container">
  <div data-aos="fade-down">
    <div
      class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary conti"
    >
      <div class="titulo">
        <h1 class="display-4 titulo">
          {{ point?.name }}
        </h1>
      </div>
    </div>
  </div>

  <div class="row g-5 mor">
    <div data-aos="fade-right" class="col-md-8">
      <div class="imag">
        <img [src]="imageUrls[point?.id!]" alt="foto del  {{ point?.name }} " />
      </div>
      <br />
      <mat-card class="card-param">
        <mat-card-header>
          <mat-card-title>Dirección</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-subtitle>{{ point?.address }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      <br />

      <mat-card class="card-param">
        <mat-card-header>
          <mat-card-title>Provincia</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-subtitle>{{ point?.province }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card class="card-param">
        <mat-card-header>
          <mat-card-title>Municipio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-subtitle>{{ point?.municipality }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      <br />
    </div>
    <div data-aos="fade-left" class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <h4 class="fst-italic">Otros establecimientos</h4>
        <ul class="list-unstyled">
          <li *ngFor="let establecimiento of establecimientos">
            <a
              class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
              [routerLink]="['/point-of-sales/details/', establecimiento.id]"
            >
              <div class="conti">
                <img
                  [src]="imageUrls[establecimiento.id!]"
                  class="bd-placeholder-img"
                  width="100%"
                  height="96"
                  style="border-radius: 5px; object-fit: cover"
                  alt="Imagen del Establecimiento"
                />
              </div>
              <div class="col-lg-8">
                <h6 class="mb-0">{{ establecimiento.name }}</h6>
                <small class="text-body-secondary">{{
                  establecimiento.address
                }}</small>
                <small class="text-body-secondary">{{
                  establecimiento.municipality
                }}</small>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h1>Productos disponibles</h1>
  <hr class="container featurette-divider" />
  <section style="background-color: var(--color-blue-white)">
    <br />
    <div class="row content">
      <app-bioproduct-list [products]="products"></app-bioproduct-list>
    </div>
  </section>

  <div style="margin: 3%; text-align: right">
    <a class="btn btn-primary" [routerLink]="['/point-of-sales']">Volver</a>
  </div>
</div>
