.profile-card-5 {
  margin-top: 20px;
}
/* Estilo CSS */
.background-image {
  background-image: url("./../../../../assets/labiofam.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; /* Ajusta el tamaño de la imagen al contenedor */
  opacity: 1; /* Ajusta la transparencia (0.5 significa 50% transparente) */
}

.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}
.card-top {
  width: 100%;
  height: 95%;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card-img-block {
  /* Establece el tamaño deseado para el contenedor de la imagen */
  width: 200px; /* Ejemplo de ancho */
  height: 200px; /* Ejemplo de alto */
  overflow: hidden; /* Para manejar imágenes más grandes que el contenedor */
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.profile-card-5 h2 {
  color: rgb(2, 8, 123);
  font-weight: 600;
  text-align: center;
}

.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}

body {
  background: rgb(255, 255, 255);
}
h1 {
  color: var(--color-blue);
  padding: 10px 0;
}
.fcard {
  color: var(--color-blue);
  font: var(--color-blue) !important;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  transition: 0.3s;
  border: none;
  &:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
  }
  a {
    color: initial;
    &:hover {
      text-decoration: initial;
    }
  }
}
