<section class="background-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 mt-4">
        <div class="card profile-card-5">
          <div class="card-img-block">
            <div class="card-top">
              <img
                class="card-img-top"
                [src]="image ? image : 'assets/no-image.jpg'"
                alt="Preview"
              />
            </div>
          </div>
          <div class="card-body pt-0">
            <h2 class="card-title">{{ datos!.user.name }}</h2>
            <p
              class="card-text"
              style="display: flex; justify-content: center"
              center
            >
              {{ this.rol! }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-md-4" *ngIf="this.superadmin">
        <div class="card">
          <div class="fcard">
            <div class="border-warning text-center">
              <div class="card-body">
                <h2 class="card-title">Usuario</h2>
                <button
                  class="btn btn-primary btn-block mb-4"
                  [routerLink]="['/dashboard/users-admin']"
                >
                  Administrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="this.superadmin || this.superadminandpos">
        <div class="card">
          <div class="fcard">
            <div class="border-warning text-center">
              <div class="card-body">
                <h2 class="card-title">Puntos de Venta</h2>
                <button
                  class="btn btn-primary btn-block mb-4"
                  [routerLink]="['/dashboard/points-of-sales-admin']"
                >
                  Administrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4"
        *ngIf="this.superadmin || this.superadminandServices"
      >
        <div class="card">
          <div class="fcard">
            <div class="border-warning text-center">
              <div class="card-body">
                <h2 class="card-title">Servicios</h2>
                <button
                  class="btn btn-primary btn-block mb-4"
                  [routerLink]="['/dashboard/services-admin']"
                >
                  Administrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="this.superadmin">
        <div class="card">
          <div class="fcard">
            <div class="border-warning text-center">
              <div class="card-body">
                <h2 class="card-title">Testimonios</h2>
                <button
                  class="btn btn-primary btn-block mb-4"
                  [routerLink]="['/dashboard/testimonios-admin']"
                >
                  Administrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-4"
        *ngIf="this.superadmin || this.superadminandBioproductos"
      >
        <div class="card">
          <div class="fcard">
            <div class="border-warning text-center">
              <div class="card-body">
                <h2 class="card-title">Bioproductos</h2>
                <button
                  class="btn btn-primary btn-block mb-4"
                  [routerLink]="['/dashboard/bioproducts-admin']"
                >
                  Administrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="this.superadmin">
        <div class="card">
          <div class="fcard">
            <div class="border-warning text-center">
              <div class="card-body">
                <h2 class="card-title">Contactos</h2>
                <button
                  class="btn btn-primary btn-block mb-4"
                  [routerLink]="['/dashboard/contacts-admin']"
                >
                  Administrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
