.profile-card-5 {
  margin-top: 20px;
}

.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card-5 h2 {
  color: rgb(2, 8, 123);
  font-weight: 600;
  text-align: center;
}

.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}

.profile-card-5 .btn-primary {
  background-color: #4E5E30;
  border-color: #4E5E30;
}
body {
  background: #232321;
}
h1 {
  color: var(--color-blue);
  padding: 10px 0;
}
.fcard {
  color: var(--color-blue);
  font: var(--color-blue) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  a {
    color: initial;
    &:hover {
      text-decoration: initial;
    }
  }
}
