table {
  width: 100%;
}
.filter {

  margin-right: auto;
  width: 100%;
  flex: 1;
}

td,
th {
  width: 15%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.delete {
  background: none;
  border: none;
  cursor: pointer;
  color: chocolate;
  font-size: 18px; /* Aumenta el tamaño del icono */
}

.edit {
  cursor: pointer;
  color: cornflowerblue;
  background: none;
  border: none;
  font-size: 18px; /* Aumenta el tamaño del icono */
}

.search {
  cursor: pointer;
}
.texto {
  display: inline-block;
  cursor: pointer;
}
.titulo {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
}
